// FONTS

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

// COLORS
@color-sun: #ffcb57;
@color-dark-orange: #f05a28;
@color-red: #d65a29;
@color-white: #fff;
@color-black: #322522;

@color-light-bg: @color-white;
@color-light-fg: @color-black;
@color-dark-bg: @color-sun;
@color-dark-fg: @color-black;
@color-link: @color-black;
@color-selected-border: lighten(@color-light-fg, 20%);

// MAIN

body, html {
  padding: 0;
  margin: 0;
}

body {
  background-color: @color-light-bg;
  color: @color-light-fg;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 62.5%;
  line-height: 1.5;
}

.dark-bg {
  color: @color-dark-fg;
  background-color: @color-dark-bg;
}

*, *:before, *:after {
  box-sizing: border-box;
}

img {
  // see: https://stackoverflow.com/questions/12906789/preventing-an-image-from-being-draggable-or-selectable-without-using-js
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

a:link, a:visited {
  color: lighten(@color-link, 5%);
  text-decoration: underline;
}
a:hover {
  color: @color-link;
  text-decoration: underline;
}
a:active {
  color: darken(@color-link, 5%);
  text-decoration: underline;
}

.hide {
  display: none;
}

section {
  padding: 16px 32px;
  & > h2 {
    margin: 0;
    margin-bottom: 32px;
  }
  .bodytext {
    text-align: left;
  }
}

.lr {
  margin: 64px 0 32px 0;
  & > .left {
    text-align: left;
  }
  & > .right {
    clear: both;
    float: right;
    text-align: right;
  }
}

// LAYOUT

#header {
  background-color: fade(@color-dark-orange, 70%);
  font-weight: 900;
  height: 64px;
  position: fixed;
  width: 100%;
  z-index: 1;
}

#nav {
  float: right;
  font-size: 2rem;
  line-height: 56px;
  text-align: right;
  padding: 8px;
}

#nav > a,
#nav > span {
  color: @color-white;
  margin-right: 32px;
  text-decoration: none;
}
#nav > span {
  color: @color-red;
}

#logo {
  padding: 8px;
}

#logo > a {
  display: inline-block;
  margin: 0 16px;
  vertical-align: middle;
}

#logo > a > img {
  height: 48px;
}

#topbar-text {
  color: @color-white;
  display: inline-block;
  font-size: 2.4rem;
  vertical-align: middle;
}

#main {
  font-size: 1.2rem;
  text-align: center;
}

#hero {
  position: relative;
  max-width: 100%;
  & > img {
    width: 100%;
  }
  & > #name {
    position: absolute;
    left: 24px;
    bottom: 24px;
    color: @color-white;
    font-size: 4rem;
    margin: 0;
  }
}

#tags > .tag {
  font-size: 1.6rem;
  margin-bottom: 12px;
  margin-right: 24px;
  width: 176px;
  display: inline-block;
  cursor: pointer;

  // see: https://stackoverflow.com/questions/6900124/how-to-make-certain-text-not-selectable-with-css
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;

  &::after {
    background-color: @color-sun;
    border-radius: 24px;
    content: '\00a0';
    display: inline-block;
    height: 48px;
    position: relative;
    right: 24px;
    top: -8px;
    transition: all 200ms ease-in-out;
    width: 48px;
    z-index: -1;
  }
  &.active::after {
    background-color: @color-dark-orange;
  }
}

.project {
  border: 6px solid @color-light-bg;
  border-radius: 16px;
  display: inline-block;
  margin: 6px;
  transition: all 200ms ease-in-out;
  &.active {
    border-color: @color-dark-orange;
  }
}

.project-wrapper {
  width: 300px;
  height: 300px;
  border-radius: 12px;
  position: relative;
  cursor: pointer;
}

.wrapper-color(@color) {
  background-color: lighten(@color, 20%);
}

.project-image {
  border-radius: 10px;
  width: 300px;
  height: 300px;
}

.project-title {
  position: absolute;
  bottom: 0px;
  text-align: left;
  width: 100%;
  background-color: fadeout(@color-light-bg, 30%);
  height: 75px;
  opacity: 1;
  padding: 8px;
  border-radius: 0 0 10px 10px;
  transition: height 100ms, opacity 100ms;
  color: @color-black;
  font-size: 1.4rem;
}

#research > .project {
  border-color: @color-sun;
}

#map-wrapper {
  position: relative;
}

#card {
  background-color: @color-white;
  border: 16px solid fade(@color-dark-orange, 70%);
  font-size: 1.4rem;
  padding: 16px 32px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  & > #digital-coords {
    height: 90px;
  }
}

// CONSULTING PAGE

#left {
  width: 300px;
  display: inline-block;
  text-align: left;
}

#left > .client {
  display: inline-block;
  padding: 10px;
}

#left > .client > img {
  width: 120px;
  height: 120px;
}

#right {
  width: ~"calc(100% - 320px)";
  display: inline-block;
  vertical-align: top;
  padding: 0 16px;
  text-align: left;
}

#right > h2,
.team-member > h2 {
  color: @color-red;
}
