<div id="header">
  <div id="nav">
    <a href="/#about">About</a>
    <a href="/#portfolio">Portfolio</a>
    <a href="/#research">Research</a>
    <a href="/#contact">Contact</a>
  </div>
  <div id="logo">
    <a href="/"><img src="/img/logo.svg" /></a>
    <div id="topbar-text"><a href="/">Valkyrie A. Savage</a></div>
  </div>
</div>
