<!DOCTYPE html>
<html>
{{> head}}
<body>
<div id="root">
  {{> header}}
  <div id="body">
    <div id="main">
      <div id="hero">
        <div id="profile-img-wrapper">
          <div id="profile-img"></div>
        </div>
      </div>

      <section id="about" class="dark-bg">
        <h2>ABOUT</h2>
        <div class="bodytext">
          I am an assistant professor at the University of Copenhagen's Department of Computer Science in the Human-Centred Computing section (DIKU HCC); my work is in Human-Computer Interaction, with a focus on input devices and techniques mediated through sensing and digital fabrication. Specifically, I am interested in creating <b>deeply custom interfaces</b> that are adapted to users' bodies, contexts, and needs.
          <br/>
          <br/>
          Methodologically, I focus on systems research, where the output of a project is a functional novel system that users can interact with: many of the contributions of this work come from the algorithms required to make these prototypes work, though particularly for sensing research there is a large component of controlled user testing experiments to ensure portability across users and functionality.
          <br/>
          <br/>
          If you are a master's or bachelor's student at KU, or a student at KU or elsewhere looking for a PhD position, and you would like to work with me, please reach out! It will help if you can include context about who you are, what you do, and why you would like to work together (see my colleague <a href="https://web.archive.org/web/20210411035857/http://danielashbrook.com/prospective_students.html">Dan Ashbrook's page on prospective students</a>, I'm still writing my own). I also keep a braindump of <a href="https://near-pizza-340.notion.site/Master-s-and-Bachelor-s-Project-Ideas-743d4e996371487fb74ca5bcf709e283">potentially-interesting master's and bachelor's projects</a> that you are welcome to take a look at.
        </div>
        <div class="lr">
          <div class="right">Current Work: Assistant Professor at <a href="https://di.ku.dk/english/research/human-centred-computing/">The University of Copenhagen</a></div>
          <div class="left">Education: PhD, Human Computer Interaction, UC Berkeley (supervisor <a href="https://eecs.berkeley.edu/~bjoern">Björn Hartmann</a>, <a href="papers/thesis.pdf">thesis</a>) [2016]<br/>BS Computer Science, BA Mathematics, Indiana University Bloomington [2010]</div>
        </div>
      </section>

      <section id="news" class="light-bg">
        <h2>NEWS</h2>
        <div id="research">
          {{#news}}
            {{> newsBlurb}}
          {{/news}}
        </div>
      </section>

      <section id="research" class="dark-bg">
        <h2>RESEARCH</h2>

        <div class="bodytext">
          I study physical input devices as the ultimate bridge between humans and computers. My work pushes for a world where such devices, whether explicitly-designed or ad hoc, fit a specific user’s needs for a particular time, place, and task, culminating in deeply custom interfaces designed, fabricated, or simply picked up to solve a problem.

          My thesis research, supervised by <a href="https://eecs.berkeley.edu/~bjoern">Björn Hartmann</a>, focused on digital fabrication and how we can leverage its potential to make prototyping input devices a faster and easier process: this culminated in my dissertation, entitled <a href="/papers/thesis.pdf">“Fabbed to Sense: Integrated Design of Geometry and Sensing for Interactive Objects.”</a> <a href="https://www.youtube.com/watch?v=SgZUxloEo4s">A video of my thesis presentation</a> is also available online. Thus I received my PhD from UC Berkeley in 2016. Earlier, I graduated from Indiana University in 2010 with a BS in Computer Science and a BA in Mathematics, and minors in Psychology and Spanish.<br/><br/>

          More recently, at <a href="https://tactuallabs.com">Tactual Labs</a> I measured human anatomy to richly sense user interactions with existing objects, removing the need for dedicated input devices (under submission). Next, I plan to merge these two approaches and examine how sensing the body and its dynamic capabilities can enhance design of input devices, as well as to expand into task-sensitive sensing—fitting devices to not only their user but their user’s task—and into design support—enabling fluid collaboration around digital designs for interactive physical objects.<br/><br/>

          In the course of doing my own research, I supervised research projects for junior professionals, interns, Masters students, and undergraduates. I also taught UC Berkeley’s <a href="https://cs160.valkyriesavage.com">Introduction to User Interface Design</a> course in Summer 2015 and redesigned the curriculum to incorporate a new technology, replace roughly half the lectures with a studio component, and fit with the summer session timeline.
        </div>
        <div id="research-projects">
          {{#research}}
            {{> researchShort}}
          {{/research}}
        </div>
      </section>

      <section id="portfolio" class="light-bg">
        <h2>OTHER PROJECTS</h2>
        <div id="tags">
          <span class="tag tag-d">Digital</span>
          <span class="tag tag-p">Physical</span>
          <span class="tag tag-v">Visual</span>
          <span class="tag tag-g">Gameful</span>
          <span class="tag tag-e">Educational</span>
          <span class="tag tag-m">Mobile</span>
          <span class="tag tag-w">Web</span>
        </div>
        <div id="projects">
          {{#projects}}
            {{> projectShort}}
          {{/projects}}
        </div>
        <div id="project_details" class="hide">
          <div id="project_details_wrapper">
            <div id="project_details_title"></div>
            <div id="project_details_description"></div>
          </div>
        </div>
      </section>

      <section id="contact" class="dark-bg">
        <h2>CONTACT</h2>
        <div id="map-wrapper">
          <div id="card">
            <div class="center">Have a project idea? Just want to talk? Get in touch!</div>
            <div class="lr" id="digital-coords">
              <div class="left">digital coordinates:</div>
              <div class="right pop">
                <a href="mailto:vasa@di.ku.dk">vasa@di.ku.dk</a><br/>
                <a href="https://facebook.com/valkyrie">facebook.com/valkyrie</a><br/>
                <a href="https://linkedin.com/in/valkyrie">linkedin.com/in/valkyrie</a><br/>
                <a href="https://github.com/valkyriesavage">github.com/valkyriesavage</a><br/>
              </div>
            </div>
            <div class="lr" id="physical-coords">
              <div class="left">physical coordinates:</div>
              <div class="right pop">Copenhagen<br/>Denmark</div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<script src="/js/index.js"></script>
</body>
</html>
