<!DOCTYPE html>
<html>
{{> head}}
<body>
<div id="root">
  {{> header}}
  <div id="body">
    <div id="main">
      <div id="hero">
        <img src="img/header.jpg">
        <h1 id="name">Valkyrie A. Savage</h1>
      </div>
      <section id="about" class="dark-bg">
        <h2>ABOUT</h2>
        <div class="bodytext">I craft delightful experiences. With a proven track record in research, visual design, physical design and fabrication, teaching, game design, electronics, and coding, I enjoy projects which let me interlink multiple areas of practice.</div>
        <div class="lrc">
          <div class="lr">
            <div class="right">Current Work: CEO, Co-founder, and Designer at <a href="https://savageinter.net">Savage Internet</a></div>
            <div class="left">Education: PhD, Human Computer Interaction, UC Berkeley</div>
          </div>
          <div class="center">Personal: <a href="/personal.html">Blogroll and Travel Timeline</a></div>
        </div>
      </section>
      <section id="portfolio" class="light-bg">
        <h2>PORTFOLIO</h2>
        <div id="tags">
          <span class="tag tag-d">Digital</span>
          <span class="tag tag-p">Physical</span>
          <span class="tag tag-v">Visual</span>
          <span class="tag tag-g">Gameful</span>
          <span class="tag tag-e">Educational</span>
          <span class="tag tag-m">Mobile</span>
          <span class="tag tag-w">Web</span>
        </div>
        <div id="projects">
          {{#projects}}
            {{> projectShort}}
          {{/projects}}
        </div>
        <div id="project_details" class="hide">
          <div id="project_details_wrapper">
            <div id="project_details_title"></div>
            <div id="project_details_description"></div>
          </div>
        </div>
      </section>
      <section id="research" class="dark-bg">
        <h2>RESEARCH</h2>
        <div class="bodytext">My thesis research, supervised by Björn Hartmann, focused on digital  fabrication and how we can leverage its potential to make prototyping input devices a faster and easier process: this culminated in my dissertation, entitled <a href="/papers/thesis.pdf">“Fabbed to Sense: Integrated Design of Geometry and Sensing for Interactive Objects.”</a> <a href="https://www.youtube.com/watch?v=SgZUxloEo4s">A video of my thesis presentation</a> is also available online.<br/><br/>

        In the course of doing my own research, I supervised research projects for Masters students and undergraduates. I also taught UC Berkeley’s <a href="cs160.valkyriesavage.com">Introduction to User Interface Design</a> course in Summer 2015 and redesigned the curriculum to incorporate a new technology, replace roughly half the lectures with a studio component, and fit with the summer session.
        </div>
        <div id="research">
          {{#research}}
            {{> researchShort}}
          {{/research}}
        </div>
      </section>

      <section id="contact" class="light-bg">
        <h2>CONTACT</h2>
        <div id="map-wrapper">
          <img src="img/map.jpg">
          <div id="card">
            <div class="center">Have a project idea? Just want to talk? Get in touch!</div>
            <div class="lr" id="digital-coords">
              <div class="right">
                <a href="mailto:valkyrie@savageinter.net">valkyrie@savageinter.net</a><br/>
                <a href="https://facebook.com/valkyrie">facebook.com/valkyrie</a><br/>
                <a href="https://linedin.com/in/valkyrie">linkedin.com/in/valkyrie</a><br/>
                <a href="https://github.com/valkyriesavage">github.com/valkyriesavage</a><br/>
              </div>
              <div class="left">digital coordinates:</div>
            </div>
            <div class="lr" id="physical-coords">
              <div class="right">Toronto, ON M6H 3X6<br/>Canada</div>
              <div class="left">physical coordinates:</div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<script src="/js/index.js"></script>
</body>
</html>
