{{#projects}}
  <div class="project">
    <div class="project-wrapper">
      <img class="project-image" src="/img/projects/{{thumb}}" />
      <div class="project-title">{{title}}</div>
      <div class="project-tags">
        {{#tags}}
        <div class="tag {{.}}">{{.}}</div>
        {{/tags}}
      </div>
      <div class="project-description">
        <p>{{description}}</p>
        <ul>
          {{#links}}
          <li class="project-link">
            <a href="{{href}}" title="{{title}}">{{title}}</a>
          </li>
          {{/links}}
        </ul>
      </div>
    </div>
  </div>
{{/projects}}
