<a href="/{{filename}}">
<div class="project{{#tags}} tag-{{.}}{{/tags}}">
  <div class="project-wrapper">
    <img class="project-image" src="/img/projects/{{thumb}}" />
    <div class="project-title">{{title}}</div>
  </div>
</div>
</a>
