<!DOCTYPE html>
<html>
{{> head}}
<link rel="stylesheet" type="text/css" href="/css/projectPage.css" />
<body>
<div id="root">
  {{> header}}
  {{#project}}
  <div id="body">
    <div id="main">
      <section id="project-detail">
        <div id="project-info">
          <div id="project-thumbnail">
            <img class="project-image" src="/img/projects/{{thumb}}" />
          </div>
          <div id="project-text">
            <div id="title">{{title}}</div>
            <div id="deliverable">{{deliverable}}</div>
            <div id="client">{{client}}</div>
            <div id="links">
              {{#links}}
                <a href="{{href}}">{{title}}</a>
              {{/links}}
            </div>
          </div>
        </div>
        <div id="project-description" class="dark-bg">
          <p class="bodytext">
            {{description}}
          </p>
        </div>
      </section>
      <section id="project-images">
        {{#images}}
          <img src="{{.}}" />
        {{/images}}
      </section>
    </div>
  </div>
  {{/project}}
</div>
</body>
</html>
