<div class="project">
  <div class="project-wrapper">
    <img class="project-image" src="/img/projects/{{thumb}}" />
    <div class="project-title">{{title}}</div>
    <div class="project-tags">
      {{#tags}}
        <div class="tag tag-{{.}}">{{.}}</div>
      {{/tags}}
    </div>
  </div>
</div>
