<a href="/{{filename}}">
<div class="project{{#tags}} tag-{{.}}{{/tags}}">
  <div class="project-wrapper" style="background-image:url(/img/projects/{{thumb}});">
    <div class="project-title">{{title}}</div>
  </div>
</div>
</a>
