<!DOCTYPE html>
<html>
{{> head}}
<link rel="stylesheet" type="text/css" href="/css/researchPage.css" />
<body>
<div id="root">
  {{> header}}
  {{#research}}
  <div id="body">
    <div id="main">
      <section id="project-info">
        <div id="project-thumbnail">
          <img class="project-image" src="/img/research/{{thumb}}" />
        </div>
        <div id="project-text">
          <div id="title">{{title}}</div>
          <div id="authors">{{authors}}</div>
          <div id="venue">{{venue}}</div>
          <div id="links">
            {{#links}}
              <a href="{{href}}">{{title}}</a><br/>
            {{/links}}
          </div>
        </div>
      </section>
      <section id="project-description" class="dark-bg">
        <p class="bodytext">
          {{abstract}}
        </p>
      </div>
      {{#video}}
      <section id="project-video">
        <iframe width="800" height="450" src="{{video}}" frameborder="0" allowfullscreen></iframe>
      </div>
      {{/video}}
    </div>
  </div>
  {{/research}}
</div>
</body>
</html>
