<a href="/{{filename}}">
<div class="project">
  <div class="project-wrapper" style="background-image:url(/img/research/{{thumb}});">
    <div class="project-title">{{titleShort}}</div>
  </div>
</div>
</a>
