<a href="/{{filename}}">
<div class="project">
  <div class="project-wrapper">
    <img class="project-image" src="/img/research/{{thumb}}" />
    <div class="project-title">{{titleShort}}</div>
  </div>
</div>
</a>
