{{#research}}
  <div class="research">
    <div class="research-wrapper">
      <img class="research-image" src="/img/research/{{thumb}}" />
      <div class="research-title">{{title}}</div>
    </div>
  </div>
{{/research}}
